<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Search</title>
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
        <link href="../dist/output.css" rel="stylesheet" />
        <script src="../js/search.js" defer></script>
        <script>
            // https://css-tricks.com/the-trick-to-viewport-units-on-mobile/

            // First we get the viewport height and we multiple it by 1% to get a value for a vh unit
            let vh = window.innerHeight * 0.01;
            // Then we set the value in the --vh custom property to the root of the document
            document.documentElement.style.setProperty("--vh", `${vh}px`);
        </script>
        <style>
            #main {
                height: 100vh; /* Fallback for browsers that do not support Custom Properties */
                height: calc(var(--vh, 1vh) * 100);
            }

            #mo {
                background-color: bisque;
                border: 2px solid;
                padding: 15px 30px;
                border-radius: 10px;
                margin: 20px;
            }
        </style>
    </head>
    <body>
        <div id="main" class="relative h-screen w-screen">
            <!-- Back button -->
            <button id="back" class="absolute left-2">
                <img class="h-12 w-12" src="assets/back.svg" />
            </button>
            <button id="mo" class="absolute right-2">
                fetch
                <!-- <img class="h-12 w-12" src="assets/back.svg" /> -->
            </button>
            <div class="m-auto max-w-[640px] rounded-lg border border-white p-4 shadow-2xl">
                <!-- Youtube player -->
                <div id="player" class="flex w-full"></div>
                <!-- Table info -->
                <div class="my-8">
                    <table class="w-full text-left text-gray-500 dark:text-gray-400">
                        <thead
                            class="bg-gray-50 uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400"
                        >
                            <tr>
                                <th>Data</th>
                                <th>Tme</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Created</td>
                                <td id="created_at"></td>
                            </tr>
                            <tr>
                                <td>Modified</td>
                                <td id="modified_at"></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <p id="created_at" class="font-mono">Created: Jan 20th 2024</p>
                    <p id="modified_at" class="font-mono">Modified: Jan 20th 2024</p> -->
                </div>
            </div>
        </div>
    </body>
</html>
