<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Search</title>
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
        <link href="../dist/output.css" rel="stylesheet" />
        <script src="../js/search.js" defer></script>
    </head>
    <body>
        <div class="m-auto max-w-[640px]">
            <div id="player" class="flex w-full"></div>
        </div>
    </body>
</html>
