@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    background-color: blueviolet;
}

svg {
    width: 1em;
    height: 1em;
}

img[src*=".svg"] {
    width: 100%;
}

table {
    text-align: left;
    position: relative;
    border-collapse: collapse;
}
th,
td {
    padding: 0.25rem;
}

thead {
    position: sticky;
    top: 0;
}

/* Select all even row expect the first */
tr:not(:nth-child(1)):nth-child(even) {
    background-color: #e6f2fe9e;
}

a {
    outline: none;
}

a:link {
    color: #12338d;
}

a:focus {
    text-decoration: none;
    background: #bae498;
}

a:hover {
    text-decoration: none;
    background: #cdfeaa;
}
